<header class="shadow-md">
    <div class="container px-4 py-1 flex items-center justify-between">
        <a routerLink="/home">
            <img class="h-14 w-auto" src="assets/images/logo.svg" alt="logo">
        </a>
        <nav class="space-x-6 md:flex">
            <a routerLink="/home" class="hover:text-red-700 transition">Home</a>
            <a routerLink="" class="hover:text-red-700 transition">Movies</a>
        </nav>
        <div class="space-x-4 hidden md:flex">
            <button class="text-white px-6 py-2 rounded transition">Login</button>
        </div>
    </div>
</header>