<main class="w-[92%] mx-auto h-screen">
    <div class="flex py-8">
        <div class="w-[22%] h-screen top-0 sticky">
            <div class="float-right">
                <small class="underline text-red-600 cursor-pointer" (click)="onClickReset()">Reset</small>
            </div>
            <div class="rating-option mb-3">
                <h4 class="text-lg font-semibold mb-2">Rating</h4>
                <button (click)="filterRating(item.value)" *ngFor="let item of ratingOptions; index as i; trackBy: trackByFn"
                    class="gap-2 rounded p-1 m-1 border border-red-600 text-sm transition" [ngClass]="{'bg-red-600 text-white' : selectedrating===item.value, 
                            'bg-white' : selectedrating!==item.value}">
                    {{item.label}}
                </button>
            </div>
            <div class="mb-3">
                <h4 class="text-lg font-semibold mb-2">Language</h4>
                <button *ngFor="let lang of language" (click)="filterLanguage(lang.code)"
                    class="gap-2 rounded p-1 m-1 border border-red-600 text-sm transition"
                    [ngClass]="{'bg-red-600 text-white' : selectedLanguage.includes(lang.code)}">
                    {{lang.label}}
                </button>
            </div>
            <div class="mb-3">
                <h4 class="text-lg font-semibold mb-2">Genre</h4>
                <button *ngFor="let genre of genreData" (click)="filterGenres(genre.id)"
                    class="gap-2 rounded p-1 m-1 border border-red-600 text-sm transition"
                    [ngClass]="{'bg-red-600 text-white': selectedGenre.includes(genre.id)}">
                    {{genre.name}}
                </button>
            </div>
        </div>
        <div class="w-[78%] h-screen overflow-y-auto">

            <ng-container *ngIf="filterMovies.length>0">
                <div class="grid grid-cols-4 ">
                    <div *ngFor="let item of filterMovies" class="m-3 rounded bg-gray-800">
                        <img [src]="'https://image.tmdb.org/t/p/w500' + item?.poster_path"
                            class="w-full h-72 rounded object-cover" alt="{{item.title}}">

                        <div class="text-white px-3 py-1">
                            <p class="text-xs">⭐ {{item.vote_average | number: '1.2-2'}}/10</p>
                            <h6 class="py-1 text-sm">{{item.title}}</h6>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="filterMovies.length===0">
                <div class="text-center ">
                    <h1 class="text-xl text-red-600 bold">NO DATA FOUND</h1>
                </div>
            </ng-container>
        </div>
    </div>
</main>