<section *ngIf="castsData">
    <h2 class="font-bold text-2xl mb-4">Cast</h2>

    <div class="relative lg:w-[75%] md-w-[75%] xl:w-[75%] sm:w-[100%]">
        <ngx-slick-carousel #slickModal="slick-carousel" class="carousel pt-4" [config]="slideConfig"
            (afterChange)="afterChange($event)">
            <div ngxSlickItem  *ngFor="let item of castsData; index as i; trackBy: trackByFn"
            class="px-2 flex flex-col items-center text-center">
                <img [src]="'https://image.tmdb.org/t/p/w500' + item?.profile_path"
                    class="h-32 w-32 object-cover rounded-full text-center mx-auto" alt="cast">
                <p>{{item?.name}}</p>
            </div>
        </ngx-slick-carousel>

        <button *ngIf="canShowPrev" (click)="slickModal.slickPrev()"
            class="absolute left-[-1] top-[45%] backdrop-blur-md bg-white/30 z-10 rounded-full px-3 py-2 shadow-md">
            <img src="assets/images/larr.png" class="h-4" alt="left-arrow"> </button>

        <button *ngIf="canShowNext" (click)="slickModal.slickNext()"
            class="absolute right-1 top-[40%] backdrop-blur-md bg-white/30 z-10 rounded-full px-3 py-2 shadow-md"> <img
                class="h-4" src="assets/images/rarr.png" alt="right-arrow"></button>

    </div>
</section>